{{#blog-header title=title}}
	<div class="actions">
		{{input
      type="text"
      value=filter
      id="input-holder-name"
      placeholder="Search by name or subject"}}

		<div class="sorting">
			Sort by:
			<button class="{{if (eq 'name' currentSortingProperty) 'active'}}" {{action 'sortBy' 'name'}}>
				Name
				<span class="{{if reverse 'd-none'}}">▼</span>
				<span class="{{if (not reverse) 'd-none'}}">▲</span>
			</button>
			<button class="{{if (eq 'email' currentSortingProperty) 'active'}}" {{action 'sortBy' 'email'}}>
				Email
				<span class="{{if reverse 'd-none'}}">▼</span>
				<span class="{{if (not reverse) 'd-none'}}">▲</span>
			</button>
			<button class="{{if (eq 'subject' currentSortingProperty) 'active'}}" {{action 'sortBy' 'subject'}}>
				Subject
				<span class="{{if reverse 'd-none'}}">▼</span>
				<span class="{{if (not reverse) 'd-none'}}">▲</span>
			</button>
		</div>
	</div>
{{/blog-header}}
<div class="row">
	<div class="col-md-12">
		<div class="content-container">
			<div class="row justify-content-center">
		    <div class="text-center col-md-11 align-self-center" role="alert">
					{{#link-to 'posts' classNames='btn btn-info'}}
		        See All posts
		      {{/link-to}}
				</div>
		  </div>
		  <br>
			{{#each usersSortedList as |user|}}
        <div class="div-clickable">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 float-left">
	          <div class="card bordershadow">
	          	<div class="card-img-box">
								<img class="card-img" src="assets/images/tutors/{{user.id}}.jpg" alt="Card image cap">
							</div>	
							<div class="card-body clearfix">
							  <h5 class="card-title">
							  	{{user.name}}
							  </h5>
							  <div class="card-text">
							  	<p><span class="text-label">E-mail:</span> {{user.email}}</p>
							  	<p><span class="text-label">From:</span> {{user.address.city}}</p>
							  	<p><span class="text-label">Subject:</span> {{user.subject}}</p>
							  	<p><span class="text-label">hire for:</span> {{user.price}}</p>
							  </div>
							  {{#link-to 'posts' (query-params user=user.id) classNames='btn btn-info'}}
					        See posts
					      {{/link-to}}
							</div>
						</div>
					</div>
	      </div>
	    {{else}}
	    <div class="container">
			   <div class="row justify-content-center">
				    <div class="alert alert-info text-center col-md-11 align-self-center" role="alert">
						  No users to display!
						</div>
				  </div>
			</div>
      {{/each}}
		</div>
	</div>
</div>
{{outlet}}