<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tutor-header">
				<h1>{{title}}</h1>
				<h2>Find the tutor which best suits your learning method...</h2>
				<div class="actions">
					{{input
            type="text"
            value=filter
            id="input-holder-name"
            placeholder="Search by name or subject"}}

					<div class="sorting">
						Sort by:
						<button class="{{if (eq 'name' currentSortingProperty) 'active'}}" {{action 'sortBy' 'name'}}>
							Name
							<span class="{{if reverse 'd-none'}}">▼</span>
							<span class="{{if (not reverse) 'd-none'}}">▲</span>
						</button>
						<button class="{{if (eq 'email' currentSortingProperty) 'active'}}" {{action 'sortBy' 'email'}}>
							Email
							<span class="{{if reverse 'd-none'}}">▼</span>
							<span class="{{if (not reverse) 'd-none'}}">▲</span>
						</button>
						<button class="{{if (eq 'subject' currentSortingProperty) 'active'}}" {{action 'sortBy' 'subject'}}>
							Subject
							<span class="{{if reverse 'd-none'}}">▼</span>
							<span class="{{if (not reverse) 'd-none'}}">▲</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tutor-list">
				{{#each usersSortedList as |user|}}
          <div class="div-clickable">
	          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 float-left">
		          <div class="card bordershadow">
		          	<div class="card-img-box">
									<img class="card-img" src="assets/images/tutors/{{user.id}}.jpg" alt="Card image cap">
								</div>	
								<div class="card-body clearfix">
								  <h5 class="card-title">
								  	{{user.name}}
								  </h5>
								  <div class="card-text">
								  	<p><span class="text-label">E-mail:</span> {{user.email}}</p>
								  	<p><span class="text-label">From:</span> {{user.address.city}}</p>
								  	<p><span class="text-label">Subject:</span> {{user.subject}}</p>
								  </div>
								  <a href="#" class="btn btn-success">Hire for {{user.price}}</a>
								</div>
							</div>
						</div>
		      </div>
        {{/each}}
			</div>
		</div>
	</div>
</div>
{{outlet}}